.size_con {
  height : 8em ;
  width : 8em ;
  position : absolute ;
  left : calc( 5% + 4em ) ;
  top :  calc( 95% - 4em ) ;
  transform: translate(-50% , -50%);
}
.size_con svg {
  height : 100% ;
  width : 100% ;
}
.size_con svg path {
  stroke-width: 1.5 ;
  stroke : var(--border) ;
}
.size_con > div {
  position: absolute ;
  height : 8em ;
  width : 8em ;
  justify-content: flex-end ;
}
.size_con > div > p {
  width : 90% ;
  height : 4em ;
  color : var(--main-c) ;
  align-self: flex-end;
}
.size_con > div > p:nth-child(1) {
  align-items: flex-start;
}